// Thrid Party
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

// Base
@import 'base/index';

// Components
@import './components/index';

// Views
@import './views//index';

.root__view > app-avatar {
	position: fixed;
	height: clamp($avatar-icon-min-size, 5vh + 1rem, $avatar-icon-max-size);
	width: clamp($avatar-icon-min-size, 5vh + 1rem, $avatar-icon-max-size);
	bottom: 2vh;
	right: 2vh;
	z-index: $max-z-index - 1;
}