app-navbar {
	.navbar {
		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			width: 100%;
		}

		&__logged {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			overflow: hidden;
			position: absolute;
			bottom: 0;

			app-menu {
				width: 100%;
				overflow-x: auto;
			}
		}
	}
}