<main
	*ngIf="selectedEvent"
	class="event"
	[@slideFromLeft]
>
	<app-logo></app-logo>
	<div
		class="event__registry"
		[@horizontalShrink]="creationAnimationState"
		(@horizontalShrink.done)="onCreationAnimation($event)"
	>
		<div class="event__title">{{ languageSource['EVENT_ORDER_NEW_TITLE'] }}</div>
		<form [formGroup]="eventOrderRegistryForm">
			<mat-form-field appearance="outline">
				<mat-label>{{ languageSource['REGISTRY_EVENT_ORDER_CLIENT_INPUT'] }}</mat-label>
				<input matInput formControlName="client" required>
			</mat-form-field>
			<div class="event__registry__items">
				<div class="event__registry__product">
					<app-auto-complete
						[label]="languageSource['REGISTRY_EVENT_ORDER_ITEMS_INPUT']"
						[data]="availableProducts"
						[formGroup]="eventOrderRegistryForm"
						[controlName]="'items'"
						[optionGetter]="displayProductAutocomplete"
						(onSelection)="onProductSelection($event)"
					>
					</app-auto-complete>
					<div>
						<button (click)="onProductCountDecrement()" [disabled]="productCount <= MIN_PRODUCT_COUNT">
							<mat-icon>remove</mat-icon>
						</button>
						<input
							matInput
							[value]="productCount"
							[min]="MIN_PRODUCT_COUNT"
							[max]="MAX_PRODUCT_COUNT"
							type="number"
							(keyup)="onManualProductCount($event.target)"
						>
						<button (click)="onProductCountIncrement()" [disabled]="productCount >= MAX_PRODUCT_COUNT">
							<mat-icon>add</mat-icon>
						</button>
					</div>
					<button (click)="onProductConfirmation()" [disabled]="!selectedProduct">
						<mat-icon>check</mat-icon>
					</button>
				</div>
				<ul>
					<li *ngFor="let selectedItem of selectedItems; index as i" [@pop]>
						<div>
							<span>{{ selectedItem.product.name }}</span>
						</div>
						<button class="--delete" (click)="onItemDelection(selectedItem.id)">
							<mat-icon>delete</mat-icon>
						</button>
					</li>
				</ul>
			</div>
		</form>
		<button (click)="onEventOrderCreation()" [disabled]="isEventOrderCreationInvalid()">
			{{ languageSource['REGISTRY_EDITOR_CREATION_ACTION'] }}
		</button>
	</div>
	<div class="event__selector">
		<div class="event__title">{{ selectedEvent.name }}</div>
		<button class="--new-event" (click)="initEventCreation()">
			<mat-icon>add</mat-icon>
			<span>{{ languageSource['EVENT_ORDER_NEW_TITLE'] }}</span>
		</button>
		<mat-tab-group [selectedIndex]="1">
			<mat-tab [label]="languageSource['EVENT_ORDER_VIEW_PICKED_UP_TITLE']">
				<ul class="event__selector__list --past">
					<li *ngFor="let order of pickedupOrders" [@pop]>
						<button>
							<span>{{ order.client }}</span>
						</button>
					</li>
				</ul>
			</mat-tab>
			<mat-tab [label]="languageSource['EVENT_ORDER_VIEW_COOKING_TITLE']">
				<ul class="event__selector__list">
					<li *ngFor="let order of cookingOrders" [@pop]>
						<button>
							<span>{{ order.client }}</span>
						</button>
					</li>
				</ul>
			</mat-tab>
			<mat-tab [label]="languageSource['EVENT_ORDER_VIEW_READY_TITLE']">
				<ul class="event__selector__list --future">
					<li *ngFor="let order of readyOrders" [@pop]>
						<button>
							<span>{{ order.client }}</span>
						</button>
					</li>
				</ul>
			</mat-tab>
		</mat-tab-group>
	</div>
	<button class="--back-event" (click)="onCancelEvent()">
		<mat-icon>arrow_back</mat-icon>
	</button>
</main>