<main class="events" [@slideFromRight]>
	<app-logo></app-logo>
	<div
		class="events__registry"
		[@horizontalShrink]="creationAnimationState"
		(@horizontalShrink.done)="onCreationAnimation($event)"
	>
		<button class="--back-event" (click)="cancelEventCreation()">
			<mat-icon>arrow_back</mat-icon>
		</button>
		<div class="events__registry__form">
			<div class="events__title">{{ selectedLanguage['EVENT_NEW_TITLE'] }}</div>
			<form [formGroup]="eventRegistryForm">
				<mat-form-field appearance="outline">
					<mat-label>{{ selectedLanguage['REGISTRY_EVENT_NAME_INPUT'] }}</mat-label>
					<input matInput formControlName="name" required>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>{{ selectedLanguage['REGISTRY_EVENT_DATE_INPUT'] }}</mat-label>
					<input matInput formControlName="date" [matDatepicker]="picker">
					<mat-hint>MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</form>
			<button (click)="onEventCreation()" [disabled]="isEventCreationInvalid()">
				{{ selectedLanguage['REGISTRY_EDITOR_CREATION_ACTION'] }}
			</button>
		</div>
	</div>
	<div class="events__selector">
		<div class="events__title">{{ selectedLanguage['EVENT_VIEW_TITLE'] }}</div>
		<button class="--new-event" (click)="initEventCreation()">
			<mat-icon>add</mat-icon>
			<span>{{ selectedLanguage['EVENT_NEW_TITLE'] }}</span>
		</button>
		<mat-tab-group [selectedIndex]="1">
			<mat-tab [label]="selectedLanguage['EVENT_VIEW_FINISHED_TITLE']">
				<ul class="events__selector__list --past">
					<li
						*ngFor="let event of finishedEvents; index as i"
						[@slideFromRight]="{ value: '', params: { delay: i * 100 } }"
					>
						<button (click)="onEventClick(event)">
							<span>{{ event.name }}</span>
							<mat-icon>chevron_right</mat-icon>
						</button>
					</li>
				</ul>
			</mat-tab>
			<mat-tab [label]="selectedLanguage['EVENT_VIEW_ONGOING_TITLE']">
				<ul class="events__selector__list">
					<li
						*ngFor="let event of ongoingEvents; index as i"
						[@slideFromRight]="{ value: '', params: { delay: i * 100 } }"
					>
						<button (click)="onEventClick(event)">
							<span>{{ event.name }}</span>
							<mat-icon>chevron_right</mat-icon>
						</button>
					</li>
				</ul>
			</mat-tab>
			<mat-tab [label]="selectedLanguage['EVENT_VIEW_UPCOMING_TITLE']">
				<ul class="events__selector__list --future">
					<li
						*ngFor="let event of upcomingEvents; index as i"
						[@slideFromRight]="{ value: '', params: { delay: i * 100 } }"
					>
						<button>
							<span>{{ event.name }}</span>
						</button>
					</li>
				</ul>
			</mat-tab>
		</mat-tab-group>
	</div>
</main>