@font-face {
    font-family: 'DarumadropOne';
    src: url('../../fonts/DarumadropOne/DarumadropOne.eot');
    src:
        url('../../fonts/DarumadropOne/DarumadropOne.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/DarumadropOne/DarumadropOne.woff') format('woff'),
        url('../../fonts/DarumadropOne/DarumadropOne.ttf') format('truetype'),
        url('../../fonts/DarumadropOne/DarumadropOne.svg#DarumadropOne') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../fonts/Nunito/Nunito.eot');
    src:
        url('../../fonts/Nunito/Nunito.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Nunito/Nunito.woff') format('woff'),
        url('../../fonts/Nunito/Nunito.ttf') format('truetype'),
        url('../../fonts/Nunito/Nunito.svg#Nunito') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
