$background: #feffdb;
$foreground: #9f6b54;
$foreground-bright: #bf856b;
$foreground-brighter: #f2cc6f;
$foreground-disabled: #ecd9aa;
$accent-dark: #c7b4b4;
$accent-bright: #feffdb;
$yellow-dark: #c79d39;
$red-dark: #f44336;
$red-light: #e9564b;

$avatar-min-size: 2rem;
$avatar-max-size: 20rem;

$avatar-icon-min-size: 2rem;
$avatar-icon-max-size: 8rem;

$max-z-index: 102;
