$background: #FEFFDB;
$foreground: #9F6B54;
$foreground-bright: #BF856B;
$foreground-brighter: #F2CC6F;
$foreground-disabled: #ecd9aa;
$accent-dark: #c7b4b4;
$accent-bright: #FEFFDB;
$yellow-dark: #C79D39;

$avatar-min-size: 2rem;
$avatar-max-size: 20rem;

$avatar-icon-min-size: 2rem;
$avatar-icon-max-size: 8rem;

$max-z-index: 102;