$background: #FEFFDB;
$foreground: #9F6B54;
$foreground-bright: #BF856B;
$foreground-brighter: #F2CC6F;
$foreground-disabled: #ebcb80;
$accent-dark: #ffffff99;
$accent-bright: #FEFFDB;
$yellow-dark: #C79D39;

$avatar-min-size: 2rem;
$avatar-max-size: 20rem;