@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

app-table {
	display: flex;
	margin: 0 auto;
	width: 100%;
}

.table {
	.cdk-column-inhouse-settings {
		word-wrap: break-word !important;
		white-space: unset !important;
		flex: 0 0 5% !important;
		width: 5% !important;
		padding: 0 !important;

		button {
			background-color: transparent;
		
			-webkit-transition: background-color ease-in-out .3s;
			-moz-transition: 	background-color ease-in-out .3s;
			-ms-transition: 	background-color ease-in-out .3s;
			-o-transition: 		background-color ease-in-out .3s;
			transition: 		background-color ease-in-out .3s;

			&:hover {
				cursor: pointer;
				background-color: #0000001f;
			}

			mat-icon {
				color: $foreground;
			}
		}
	}

	mat-row {
		height: 4vh !important;
	}

	mat-cell, mat-header-cell {
		font-family: 'Nunito';
	}

	mat-cell {
		overflow: auto;
	}

	&__row {
		&__settings {
			width: 100%;
			height: 100%;
		}
	}
}

