.event {
	&__registry {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		width: 100%;
		min-height: 100vh;
		height: 100%;
		background-color: $background;
		z-index: $max-z-index - 3;
		align-self: flex-start;

		.event__title {
			min-height: 10vh;
		}

		&__product {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 0;

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 12px;
				padding: 0 2vh;
				height: 6.5vh;
				background-color: transparent;
				border: solid 2px transparent;
				border-radius: $app-input-border-raidus;
				border-color: $foreground-bright;
				outline: transparent;
				font-size: 1.2rem;
				color: $foreground-bright;
	
				transition: color ease-in-out 300ms, border-color ease-in-out 300ms, background-color ease-in-out 300ms;
		
				&:disabled {
					color: $foreground-bright;
					border-color: $foreground-disabled;
					background-color: $foreground-disabled;
					pointer-events: none;
	
					&:hover {
						cursor: default;
					}
				}
	
				&:not([disabled]) {
					&:hover {
						cursor: pointer;
					}
		
					&:hover, &:focus {
						border-color: transparent;
						background-color: $foreground-brighter;
						color: $accent-bright;
					}
				}
			}

			.--data {
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;

				app-ingredient-selector {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 2vh 0;

					.ingredient__selector {
						width: 100%;
					}

					.ingredient__selector-listing {
						display: flex;
						flex-direction: row;
						gap: 0 2vh;
						width: 90%;
						height: 15vh;
					}
				}
			}

			> div {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 0 1vh;
				height: 6.5vh;
				margin-bottom: 3vh;

				input {
					font-family: 'DarumadropOne';
					font-size: 1.2rem;
					height: 6vh;
					min-width: 4vh;
					width: 100%;
					background-color: transparent;
					border-radius: $app-input-border-raidus;
					border: solid 1px $foreground-bright;
					text-align: center;

					&::-webkit-outer-spin-button,
					&::-webkit-inner-spin-button {
					  	-webkit-appearance: none;
					  	margin: 0;
					}

					&[type=number] {
					  	-moz-appearance: textfield;
						appearance: textfield;
					}

					&:focus {
						border-color: $foreground-bright !important;
						border-width: 2px;
					}
				}

				button {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 4vh;
					width: 5vh;
					padding: 0;
					border-radius: 50%;
				}
			}
		}

		> form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 80%;
			gap: 2vh 0;

			app-auto-complete {
				width: 100%;
			}

			mat-form-field {
				font-family: 'Nunito' !important;
				font-weight: 600 !important;
				color: $foreground-bright !important;
				width: 100% !important;
			
				&[data-is-disabled="true"] {
					color: $foreground-bright !important;
				
					.mat-mdc-text-field-wrapper {
						background-color: $foreground-disabled !important;
					}
				}

				input {
					height: 3vh !important;
				}

				input, mat-label {
					font-family: 'Nunito' !important;
					color: $foreground-bright!important;
				}
			
				.mat-mdc-text-field-wrapper {
					background-color: transparent !important;
					border-radius: $app-input-border-raidus !important;

					-webkit-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1) !important; 
					-moz-box-shadow:    0px 10px 15px -3px rgba(0,0,0,0.1) !important; 
					-o-box-shadow:   	0px 10px 15px -3px rgba(0,0,0,0.1) !important;
					box-shadow:         0px 10px 15px -3px rgba(0,0,0,0.1) !important;
				}

				.mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
					border-color: $foreground-bright !important;
				}
			
				.mdc-notched-outline__leading {
					border-top-left-radius: $app-input-border-raidus !important;
					border-bottom-left-radius: $app-input-border-raidus !important;
				}
			
				.mdc-notched-outline__trailing {
					border-top-right-radius: $app-input-border-raidus !important;
					border-bottom-right-radius: $app-input-border-raidus !important;
				}
			
				.mdc-notched-outline--notched {
					color: $accent-dark !important;
				}
			}
		}

		> button {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 12px;
			padding: 2vh 12vh;
			width: 80%;
			margin: 2vh auto;
			background-color: transparent;
			border: solid 2px transparent;
			border-radius: $app-input-border-raidus;
			border-color: $foreground-bright;
			outline: transparent;
			font-family: 'DarumadropOne';
			font-size: 1.2rem;
			color: $foreground-bright;
			transition: color ease-in-out 300ms, border-color ease-in-out 300ms, background-color ease-in-out 300ms;
	
			&:disabled {
				color: $foreground-bright;
				border-color: $foreground-disabled;
				background-color: $foreground-disabled;
				pointer-events: none;

				&:hover {
					cursor: default;
				}
			}

			&:not([disabled]) {
				&:hover {
					cursor: pointer;
				}
	
				&:hover, &:focus {
					border-color: transparent;
					background-color: $foreground-brighter;
					color: $accent-bright;
				}
			}
		}

		&__items {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 2vh 0;

			ul {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(15vh, 1fr));
				gap: 2vh;
				border: solid 1px $foreground-bright;
				border-radius: $app-input-border-raidus;
				height: 25vh;
				width: 100%;
				padding: 2vh;
				overflow: hidden;
				overflow-y: auto;

				li {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					height: 25vh;
					border-radius: $app-input-border-raidus;
					overflow: hidden;

					div {
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						color: $foreground !important;
					}

					button {
						width: 100%;
						height: 6vh;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						background-color: $red-dark;
						color: $accent-bright;

						-webkit-transition: background-color ease-in-out .1s;
						-moz-transition: 	background-color ease-in-out .1s;
						-ms-transition: 	background-color ease-in-out .1s;
						-o-transition: 		background-color ease-in-out .1s;
						transition: 		background-color ease-in-out .1s;

						&:hover {
							cursor: pointer;
							background-color: $red-light;
						}
					}
				}
			}
		}

		app-auto-complete {
			width: 100%;
		}

		& mat-stepper {
			background-color: transparent;
			height: 90%;

			& .mat-horizontal-stepper-wrapper{
				height: 100%;
			}
			
			.mat-horizontal-content-container  {
				overflow-y: auto;
				padding-bottom: 8vh;

			}
			& .mat-horizontal-stepper-content {
				mat-form-field {
					margin-top: 2vh;
					width: 100%;
				}
			}
		}
	}
}

.--app-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0 2vh;
}

.--button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	padding: 2vh 12vh;
	width: 80%;
	margin: 2vh auto;
	background-color: transparent;
	border: solid 2px transparent;
	border-radius: $app-input-border-raidus;
	border-color: $foreground-bright;
	outline: transparent;
	font-family: 'DarumadropOne';
	font-size: 1.2rem;
	color: $foreground-bright;
	transition: color ease-in-out 300ms, border-color ease-in-out 300ms, background-color ease-in-out 300ms;

	&:disabled {
		color: $foreground-bright;
		border-color: $foreground-disabled;
		background-color: $foreground-disabled;
		pointer-events: none;

		&:hover {
			cursor: default;
		}
	}

	&:not([disabled]) {
		&:hover {
			cursor: pointer;
		}

		&:hover, &:focus {
			border-color: transparent;
			background-color: $foreground-brighter;
			color: $accent-bright;
		}
	}
}

@media (min-width: 821px) {
	.event {
		&__registry {
			&__product {
				.--data {					
					app-ingredient-selector {
						flex-direction: row;
						justify-content: center;
						gap: 0 2vh;
					}
				}

				> div {
					input {
						width: 100%;
						height: 4vh;
					}

					button {
						width: 4vh;
					}
				}
			}
		}

		& mat-stepper {
			.mat-horizontal-content-container  {
				padding-bottom: 2vh;
			}

			.event__registry__items {
				width: 60vw;
			}
		}
	}
}