.event {
	&__selector {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4vh 0;
		width: 90%;
		padding: 1vh 0 0 0;
		margin: 0 auto;

		h1 {
			font-family: 'DarumadropOne';
			font-size: clamp(6vh, 6vh + 1.2rem, 8vh);
			text-align: center;
			color: $foreground;
		}

		.--new-event {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: cen;
			gap: 1.5vh 0;
			background-color: transparent;
			border: solid 1px $foreground;
			border-radius: 12px;
			color: $foreground;
			font-family: 'Nunito';
			font-size: 2vh;
			padding: 2vh;

			-webkit-transition: background-color ease-in-out .1s, border-color ease-in-out .1s, color ease-in-out .1s;
			-moz-transition: 	background-color ease-in-out .1s, border-color ease-in-out .1s, color ease-in-out .1s;
			-ms-transition: 	background-color ease-in-out .1s, border-color ease-in-out .1s, color ease-in-out .1s;
			-o-transition: 		background-color ease-in-out .1s, border-color ease-in-out .1s, color ease-in-out .1s;
			transition: 		background-color ease-in-out .1s, border-color ease-in-out .1s, color ease-in-out .1s;

			&:hover {
				cursor: pointer;

				background-color: $foreground-brighter;
				border-color: $foreground-brighter;
				color: $accent-bright;
			}

			mat-icon {
				transform: scale(1.8);
			}
		}

		&__list {
			display: flex;
			flex-direction: column;
			align-items: center;
			overflow-x: hidden;
			gap: 2vh 0;
			width: 90%;
			margin: 0 auto;
			padding: 5vh 0;

			li {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $foreground-bright;
				border-radius: 12px;
				padding: 2vh;
				width: 80%;

				-webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
				-moz-box-shadow: 	4px 4px 4px 0px rgba(0,0,0,0.1);
				box-shadow: 		4px 4px 4px 0px rgba(0,0,0,0.1);

				-webkit-transition: background-color ease-in-out .1s;
				-moz-transition: 	background-color ease-in-out .1s;
				-ms-transition: 	background-color ease-in-out .1s;
				-o-transition: 		background-color ease-in-out .1s;
				transition: 		background-color ease-in-out .1s;

				&:hover {
					cursor: pointer;

					background-color: $foreground-brighter;
				}

				button {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
					background-color: transparent;
					outline: transparent;
					color: $accent-bright;
					font-family: 'Nunito';
					font-size: 2vh;
					font-weight: bold;

					span {
						flex: 2;
					}
		
					mat-icon {
						transform: scale(1.8);
					}
				}
			}
				
			&.--past {
				li {
					background-color: $foreground-disabled;
					pointer-events: none;

					button {
						color: $foreground;
					}
				}
			}

			&.--future {
				li {
					background-color: transparent;
					border: dotted 2.5px $foreground-bright;
					pointer-events: none;

					button {
						color: $foreground;
					}
				}
			}
		}

		mat-tab-group {
			width: 100%;
			height: 100%;

			.mat-mdc-tab-labels {
				gap: 0 1vh;
				padding: 0 2vh;
			}

			.mat-mdc-tab-body-wrapper {
				flex-grow: 1;
			}
		
			.mdc-tab {
				border-radius: 15px;
				font-family: 'DarumadropOne';
				font-size: clamp(1vh, 1vh + 1rem, 4vh);
				text-align: center;
				color: $foreground;
				background-color: $foreground;
				overflow: hidden;
				height: auto;
				padding: 2vh;
				margin-bottom: 1vh;
				background-color: transparent;

				-webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
				-moz-box-shadow: 	4px 4px 4px 0px rgba(0,0,0,0.1);
				box-shadow: 		4px 4px 4px 0px rgba(0,0,0,0.1);

				&--active {
					background-color: $foreground-brighter;
					
					.mdc-tab__text-label {
						color: $accent-bright !important;
					}
				}
			}

			.mdc-tab-indicator {
				display: none !important;
			}
		}
	}
}

@media (min-width: 821px) {
	.event {
		&__selector {
			&__list {
				li {
					width: 95%;
				}
			}
	
		}
	}
}