<ul class="menu__tree">
	<ng-container *ngTemplateOutlet="recursiveMenu; context:{ menus: data }"></ng-container>
</ul>

<ng-template #recursiveMenu let-menus="menus">
	<li *ngFor="let node of menus" class="menu__node">
		<button
			[attr.data-contains-children]="isExpandable(node)"
			[attr.data-is-active]="isActive(node)"
			(click)="onClick(node)"
			[disabled]="isDisabled(node)"
		>
			<span>{{ languageSource[node.title] ? languageSource[node.title] :  node.title }}</span>
		</button>
	</li>
</ng-template>