@import './login';
@import './logged';

app-navbar {
	position: fixed;
	min-width: 100vw;
	height: 100dvh;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	z-index: $max-z-index;

	*[data-was-dispatched="true"] {
		display: none;
	}

	.navbar {
		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 100%;
			height: 100%;
			background-color: $foreground;

			-webkit-box-shadow: 15px 0px 30px -3px rgba(0,0,0,0.2); 
    		-moz-box-shadow:    15px 0px 30px -3px rgba(0,0,0,0.2); 
    		-o-box-shadow:   	15px 0px 30px -3px rgba(0,0,0,0.2);
			box-shadow: 		15px 0px 30px -3px rgba(0,0,0,0.2);

			& * {
				pointer-events: all;
			}
		}
	}
}